h1{
    font-family:georgia;
    text-shadow: 3px 2px 1px blue;
    font-size: px;
    color:navy
    
}
h2{
    font-family:"georgia",cursive,sans-serif;
    color:blue
}
h3{
    font-familly:arial,sans-serif;

}
h4{
    color:blue
}
p:nth-child(6){
    text-align: right;
}
span{color: blue;}